In [51]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import matplotlib.pyplot as plt
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import time

In [52]:
browser = Browser('chrome',executable_path=ChromeDriverManager().install())

In [53]:
# Visit the website
url = "https://www.thebaseballcube.com/page.asp?PT=draft_round&ID=2022~1~June-Reg"
browser.visit(url)

In [54]:
# Create a Beautiful Soup Object
html = browser.html
draft_picks = soup(html, 'html.parser')

In [55]:
#Close the dialogue box
#browser.find_by_id('csv_text_dg_0').click()

In [56]:
# Extract all rows of data
#table1 = soup.find('table', id = 'dg_0')

In [57]:
# Create an empty list
# Loop through the scraped data to create a list of rows
#https://www.numpyninja.com/post/web-scraping-in-python-using-beautifulsoup
#rows = table1.find_all('tr')
#table_headers = [row.text.strip() for row in rows[0].find_all('td')]
#table_data = [[data.text.strip() for data in row.find_all('td')] for row in rows[1:]]

In [58]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
#df = pd.DataFrame(table_data, columns=table_headers)

In [59]:
#loop through same year
#hold = browser.find_by_id('dd3').first
#hold.find_by_tag('option')[2].click()

In [61]:
df_list = []
for y in range(1,6):
        year = browser.find_by_id('dd4').first
        year.find_by_tag('option')[y].click()
        round = browser.find_by_id('dd3').first
        round.find_by_tag('option')[1].click()
        
        time.sleep(4)
                
        html = browser.html
        draft_picks = soup(html, 'html.parser')
        browser.find_by_id('csv_text_dg_0').click()

        table = draft_picks.find('table', id = 'dg_0')
        rows = table.find_all('tr')
        table_headers = [row.text.strip() for row in rows[0].find_all('td')]  
        table_data = [[data.text.strip() for data in row.find_all('td')] for row in rows[1:]]
        df_list.append(pd.DataFrame(table_data, columns=table_headers))
        
        print(f'--- dataframe {y} ---')
        print('draft 1')

        for r in range(2, 11):
                round = browser.find_by_id('dd3').first
                round.find_by_tag('option')[r].click()

                time.sleep(4)
                
                html = browser.html
                draft_picks = soup(html, 'html.parser')
                browser.find_by_id('csv_text_dg_0').click()

                table = draft_picks.find('table', id = 'dg_0')
                rows = table.find_all('tr')
                table_headers = [row.text.strip() for row in rows[0].find_all('td')]  
                table_data = [[data.text.strip() for data in row.find_all('td')] for row in rows[1:]]
                temp = pd.DataFrame(table_data, columns=table_headers)
                df_list[y-1] = pd.concat([df_list[y-1],temp])
                
                print(f'draft {r}')

--- dataframe 1 ---
draft 1
draft 2
draft 3
draft 4
draft 5
draft 6
draft 7
draft 8
draft 9
draft 10
--- dataframe 2 ---
draft 1
draft 2
draft 3
draft 4
draft 5
draft 6
draft 7
draft 8
draft 9
draft 10
--- dataframe 3 ---
draft 1
draft 2
draft 3
draft 4
draft 5
draft 6
draft 7
draft 8
draft 9
draft 10
--- dataframe 4 ---
draft 1
draft 2
draft 3
draft 4
draft 5
draft 6
draft 7
draft 8
draft 9
draft 10
--- dataframe 5 ---
draft 1
draft 2
draft 3
draft 4
draft 5
draft 6
draft 7
draft 8
draft 9
draft 10

In [62]:
# Confirm DataFrame was created successfully
len(df_list)

5

In [73]:
# Examine data type of each column
df_list[3].head()

,,year,rnd,ovl,phase,player name,draft team,pos,bonus,signed,...,source,school,dr reg,pos,ht,wt,ba,th,Born,place
0,,2018,1,1,June-Reg,Casey Mize,Detroit Tigers,p,7.50,Yes,...,College,Auburn,AL,p,6-3,212,R,R,1997-05-01,"Springville,AL"
1,,2018,1,2,June-Reg,Joey Bart,San Francisco Giants,c,7.03,Yes,...,College,Georgia Tech,GA,c,6-2,238,R,R,1996-12-15,"Buford,GA"
2,,2018,1,3,June-Reg,Alec Bohm,Philadelphia Phillies,3b,5.85,Yes,...,College,Wichita State,KS,3b,6-5,218,R,R,1996-08-03,"Omaha,NE"
3,,2018,1,4,June-Reg,Nick Madrigal,Chicago White Sox,ss,6.41,Yes,...,College,Oregon State,OR,2b,5-8,175,R,R,1997-03-05,"Elk Grove,CA"
4,,2018,1,5,June-Reg,Jonathan India,Cincinnati Reds,3b,5.30,Yes,...,College,Florida,FL,2b,6-0,185,R,R,1996-12-15,"Plantation,FL"

In [72]:
df_list[3].tail()

,,year,rnd,ovl,phase,player name,draft team,pos,bonus,signed,...,source,school,dr reg,pos,ht,wt,ba,th,Born,place
26,,2018,10,311,June-Reg,Carson Shaddy,Washington Nationals,2b,0.01,Yes,...,College,Arkansas,AR,2b,5-11,185,R,R,1994-08-19,"Fayetteville,AR"
27,,2018,10,312,June-Reg,Chandler Taylor,Houston Astros,lf,0.07,Yes,...,College,Alabama,AL,rf-cf,6-1,210,L,L,1996-02-07,"Montgomery,AL"
28,,2018,10,313,June-Reg,Robert Broom,Cleveland Baseball Team,p,0.14,Yes,...,College,Mercer,GA,p,6-1,190,R,R,1996-09-17,"East Ridge,TN"
29,,2018,10,314,June-Reg,Deacon Liput,Los Angeles Dodgers,2b,0.13,Yes,...,College,Florida,FL,2b-3b,5-10,185,L,R,1996-06-27,"Oviedo,FL"
30,30 record(s),None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [74]:
# Confirm type changes were successful by examining data types again
df_list[0].dtypes

               object
year           object
rnd            object
ovl            object
phase          object
player name    object
draft team     object
pos            object
bonus          object
signed         object
hilvl          object
mlbyears       object
stat years     object
source         object
school         object
dr reg         object
pos            object
ht             object
wt             object
ba             object
th             object
Born           object
place          object
dtype: object

In [75]:
df_list[0].to_csv('data_unclean/2022.csv')
df_list[1].to_csv('data_unclean/2021.csv')
df_list[2].to_csv('data_unclean/2019.csv')
df_list[3].to_csv('data_unclean/2018.csv')
df_list[4].to_csv('data_unclean/2017.csv')

In [ ]:
browser.quit()