In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress

file_path = "data_unclean/2021.csv"
df_cleaned = pd.read_csv(file_path)
df_cleaned

,Unnamed: 0,Unnamed: 1,year,rnd,ovl,phase,player name,draft team,pos,bonus,...,source,school,dr reg,pos.1,ht,wt,ba,th,Born,place
0,0,NaN,2021.0,1.0,1.0,June-Reg,Henry Davis,Pittsburgh Pirates,c,6.50,...,College,Louisville,KY,c,6-0,220.0,R,R,1999-09-21,"Bedford,NY"
1,1,NaN,2021.0,1.0,2.0,June-Reg,Jack Leiter,Texas Rangers,p,7.92,...,College,Vanderbilt,TN,p,6-1,205.0,R,R,2000-04-21,"Plantation,FL"
2,2,NaN,2021.0,1.0,3.0,June-Reg,Jackson Jobe,Detroit Tigers,p,6.90,...,HS,"Heritage Hall (Oklahoma City,OK)",OK,p,6-2,190.0,R,R,2002-07-30,"Irving,TX"
3,3,NaN,2021.0,1.0,4.0,June-Reg,Marcelo Mayer,Boston Red Sox,ss,6.66,...,HS,"Eastlake (Chula Vista,CA)",CA,ss,6-3,188.0,L,R,2002-12-12,"Chula Vista,CA"
4,4,NaN,2021.0,1.0,5.0,June-Reg,Colton Cowser,Baltimore Orioles,of,4.90,...,College,Sam Houston State,TX,cf-lf,6-3,220.0,L,R,2000-03-20,"Houston,TX"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,26,NaN,2021.0,10.0,309.0,June-Reg,Ernie Yake,Minnesota Twins,ss,0.01,...,College,Gonzaga,WA,ss-2b,5-10,175.0,L,R,1997-11-20,"Bellingham,WA"
318,27,NaN,2021.0,10.0,310.0,June-Reg,Colton Bender,San Diego Padres,c,0.01,...,College,Quinnipiac,CT,c,5-9,195.0,R,R,1999-01-13,"Norwich,CT"
319,28,NaN,2021.0,10.0,311.0,June-Reg,Austin Vernon,Tampa Bay Rays,p,0.14,...,College,North Carolina Central,NC,p,6-8,265.0,R,R,1999-02-08,"Raleigh,NC"
320,29,NaN,2021.0,10.0,312.0,June-Reg,Michael Hobbs,Los Angeles Dodgers,p,0.00,...,College,St. Mary's (CA),CA,p,6-3,215.0,R,R,1999-07-10,"Corona,CA"
321,30,30 record(s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df = pd.read_csv("data_unclean/2021.csv")

In [3]:
selected_columns = ['player name', 'school', 'source', 'hilvl']
df_cleaned = df[selected_columns]

In [4]:
df_cleaned.columns = ['Player Name', 'School', 'Source', 'High Level']

In [5]:
df_cleaned = df_cleaned.dropna(subset=['Player Name', 'School', 'Source', 'High Level'])

In [6]:
df_cleaned = df_cleaned.reset_index(drop=True)

In [7]:
print(df_cleaned)

       Player Name                            School   Source High Level
0      Henry Davis                        Louisville  College         AA
1      Jack Leiter                        Vanderbilt  College         AA
2     Jackson Jobe  Heritage Hall (Oklahoma City,OK)       HS         A+
3    Marcelo Mayer         Eastlake (Chula Vista,CA)       HS         AA
4    Colton Cowser                 Sam Houston State  College        AAA
..             ...                               ...      ...        ...
307   Jack Winkler                     San Francisco  College         A+
308     Ernie Yake                           Gonzaga  College        AAA
309  Colton Bender                        Quinnipiac  College         A+
310  Austin Vernon            North Carolina Central  College         A+
311  Michael Hobbs                   St. Mary's (CA)  College         A+

[312 rows x 4 columns]