In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress

file_path = "data_unclean/2022.csv"
df_cleaned = pd.read_csv(file_path)
df_cleaned

,Unnamed: 0,Unnamed: 1,year,rnd,ovl,phase,player name,draft team,pos,bonus,...,source,school,dr reg,pos.1,ht,wt,ba,th,Born,place
0,0,NaN,2022.0,1.0,1.0,June-Reg,Jackson Holliday,Baltimore Orioles,ss,8.19,...,HS,"Stillwater (Stillwater,OK)",OK,ss-2b,6-0,185.0,L,R,2003-12-04,"Austin,TX"
1,1,NaN,2022.0,1.0,2.0,June-Reg,Druw Jones,Arizona Diamondbacks,of,8.19,...,HS,"The Wesleyan School (Norcross,GA)",GA,of,6-4,180.0,R,R,2003-11-28,"Atlanta,GA"
2,2,NaN,2022.0,1.0,3.0,June-Reg,Kumar Rocker,Texas Rangers,rhp,5.20,...,FA,New York,NY,p,6-5,245.0,R,R,1999-11-22,"Watkinsville,GA"
3,3,NaN,2022.0,1.0,4.0,June-Reg,Termarr Johnson,Pittsburgh Pirates,ss,7.22,...,HS,"Mays (Atlanta,GA)",GA,2b-ss,5-7,175.0,L,R,2004-06-11,"Atlanta,GA"
4,4,NaN,2022.0,1.0,5.0,June-Reg,Elijah Green,Washington Nationals,of,6.50,...,HS,"IMG Academy (Bradenton,FL)",FL,cf,6-3,225.0,R,R,2003-12-04,"Windermere,FL"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,26,NaN,2022.0,10.0,313.0,June-Reg,Zach Cole,Houston Astros,of,0.10,...,College,Ball State,IN,rf-cf,6-2,190.0,L,R,2000-08-04,"Ozark,MO"
321,27,NaN,2022.0,10.0,314.0,June-Reg,Cade Halemanu,Tampa Bay Rays,p,0.12,...,College,Hawaii,HI,p,6-4,215.0,R,R,2000-08-09,"Lihue,HI"
322,28,NaN,2022.0,10.0,315.0,June-Reg,Simon Reid,Los Angeles Dodgers,c,0.00,...,College,Westmont College,CA,c,6-1,200.0,L,R,2001-04-19,"Palo Alto,CA"
323,29,NaN,2022.0,10.0,316.0,June-Reg,John Bertrand,San Francisco Giants,p,0.05,...,College,Notre Dame,IN,p,6-3,205.0,L,L,1998-02-08,"Raleigh,NC"
324,30,30 record(s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df = pd.read_csv("data_unclean/2022.csv")

In [3]:
selected_columns = ['player name', 'school', 'source', 'hilvl']
df_cleaned = df[selected_columns]

In [4]:
df_cleaned.columns = ['Player Name', 'School', 'Source', 'High Level']

In [5]:
df_cleaned = df_cleaned.dropna(subset=['Player Name', 'School', 'Source', 'High Level'])

In [6]:
df_cleaned = df_cleaned.reset_index(drop=True)

In [7]:
print(df_cleaned)

           Player Name                             School   Source High Level
0     Jackson Holliday         Stillwater (Stillwater,OK)       HS         A+
1           Druw Jones  The Wesleyan School (Norcross,GA)       HS          A
2         Kumar Rocker                           New York       FA         A+
3      Termarr Johnson                  Mays (Atlanta,GA)       HS          A
4         Elijah Green         IMG Academy (Bradenton,FL)       HS          A
..                 ...                                ...      ...        ...
310  Brian Fitzpatrick                            Rutgers  College         Rk
311          Zach Cole                         Ball State  College          A
312      Cade Halemanu                             Hawaii  College          A
313         Simon Reid                   Westmont College  College         Rk
314      John Bertrand                         Notre Dame  College         A+

[315 rows x 4 columns]